/* Password check for admin-setup page */
    #ctrlPanel { 
        display: none; 
    }
    #login { 
        text-align: center; 
        margin-top: 20px; 
    }
    #error { 
        color: red; 
        margin-top: 10px; 
    }