/* Password check for admin-setup page */
    #ctrlPanel { 
        display: none; 
    }
    #login { 
        text-align: center; 
        margin-top: 20px; 
    }
    #error { 
        color: red; 
        margin-top: 10px; 
    }
/*Temporary styling for cookie modal*/
    .cookie-modal {
        position: fixed;
        top: 5; left: 5;
        width: 97%; height: 97%;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .cookie-content {
        background: #fff;
        padding: 20px 30px;
        border-radius: 8px;
        text-align: center;
        max-width: 400px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 20px 0;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0; left: 0;
        right: 0; bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px; width: 26px;
        left: 4px; bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }